<!DOCTYPE html>
<html>
<head>

    <title></title>
	<meta charset="utf-8" />
	<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>

<body>
   <h2>Please find the COVID 19 details for the requested District. </h2>

<table style="width:30%">
  <tr>
    <th style ="width:30%">State:</th>
    <td>{{state}}</td>
  </tr>
<tr>
    <th style ="width:30%">District:</th>
    <td>{{District}}</td>
  </tr>
  <tr>
    <th style ="width:30%">Confirmed cases:</th>
      <td><b>{{Confirmed}}</b></td>
  </tr>
  <tr>
    <th style ="width:30%">Active:</th>
    <td>{{Active}}</td>
  </tr>
  <tr>
    <th style ="width:30%">Recovered:</th>
    <td>{{recovered}}</td>
  </tr>
  <tr>
    <th style ="width:30%">Deceased:</th>
    <td>{{deceased}}</td>
  </tr>

</table>

   <h1><u>Overall status COVID19 in india </u> </h1>
 <h4>Click the below link and sign in to the PowerBI account,you can able to view the details </h4>
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->


                        <ul class="treeview-menu">

                    <li><a href='https://app.powerbi.com/reportEmbed?reportId=99c6134e-0573-450e-9a8e-c54d9274fca1&autoAuth=true&ctid=83654c9f-1ffc-46cb-a496-4dea88377b42&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D'><i></i> Dashboard</a></li>


                    <li><a href='https://app.powerbi.com/reportEmbed?reportId=c2f01126-ac5b-4485-89ad-5157b188e2b6&autoAuth=true&ctid=83654c9f-1ffc-46cb-a496-4dea88377b42&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D'><i></i> Patient Demographical</a></li>
                    <li><a href='https://app.powerbi.com/reportEmbed?reportId=7305dc4e-0a86-4b9f-bbd8-fa917059fccc&autoAuth=true&ctid=83654c9f-1ffc-46cb-a496-4dea88377b42&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D'><i></i> District </a></li>



        </ul>


</section>
     <h1><u>Preventive measures for COVID-19 </u></h1>
     <ul><li> To prevent the spread of COVID-19:</li>
  <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
  <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
  <li>Don’t touch your eyes, nose or mouth.</li>
  <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze..</li>
  <li>Stay home if you feel unwell</li>
  <li>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance..</li>
  <li>Follow the directions of your local health authority</li>
  <li>Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.</li>
</ul>

   <h4><u>Details Updates and notes</u></h4>
     <ul><li>Every three hours once will update the overall patient details</li>
     <li>District wise patient details will update daily basics.</li>


</body>
</html>
